
<div class="header-container">
  <div class="header-child-1">
    <img src="../../../../pictures/Leozera-removebg-preview.png" alt="">
  </div>
  <div class="header-child-2">
    <p>SOBRE A WEG</p>
    <hr style="height: 40px;">
    <p>INVESTIDORES</p>
    <hr style="height: 40px;">
    <p>ÉTICA</p>
    <hr style="height: 40px;">
    <p>SUPORTE</p>
  </div>
</div>

  <div class="login-container">
    <div class="div-login">
      <h1>Login</h1>
      <div class="input-keys">
        <p>Username</p>
      </div>
      <input class="input-login" type="text" placeholder="Username" [(ngModel)]='username'>
      <br />
      <div class="input-keys">
        <p>Password</p>
      </div>
      <input class="input-login" type="password" placeholder="Password" [(ngModel)]='password'>
      <br />
      <div class="login-buttons">
        <button class="button-login" (click)="logar()">Login</button>
        <button class="button-login" (click)="cadastrar()">Register</button>
      </div>
      <div >
        <button (click)="socialSignIn('google')" class="button-login">Sign in with Google</button>
      </div>
      <div>
        <button class="button-login" (click)="loginAdm()">Login as Adm</button>
      </div>
    </div>

</div>
