<div class="header-container">
    <div class="header-child-1">
      <img src="../../../../pictures/Leozera-removebg-preview.png" alt="">
    </div>
    <div class="header-child-2">
      <p>SOBRE A LEOZERA ENGINES</p>
      <hr style="height: 40px;">
      <p>INVESTIDORES</p>
      <hr style="height: 40px;">
      <p>ÉTICA</p>
      <hr style="height: 40px;">
      <p>SUPORTE</p>
      <hr style="height: 40px;">
      <p>SOLUÇÕES</p>
      <hr *ngIf="admin == 0" style="height: 40px;">
      <p *ngIf="admin == 0" (click)="levaAoCarrinho()">CARRINHO</p>
      <hr *ngIf="admin == 1" style="height: 40px;">
      <p *ngIf="admin == 1" (click)="gerenciarProduto()">GERENCIAR PRODUTOS</p>
    </div>
  </div>
<main>
  <div>
    <button (click)="voltar()">Voltar</button>
  </div>
  <div class="titulo-produtos">
    <h2>PRODUTOS DISPONÍVEIS</h2>
  </div>
  <div class="main-container">
    <div *ngFor="let produto of newArrayProd, let i = index">
      <div style="margin-bottom: 50px;">
        <img [src]="produto.img" alt="Imagem do motor" class="img-produto">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <div class="informacoes-produto">
            <p class="nome-produto"><b>Nome:</b> {{produto.nome}}</p>
            <p class="valor-produto"><b>Valor:</b> R$ {{produto.valor}}</p>
            <p class="valor-produto"><b>Quantidade disponível: </b>{{produto.estoque}}</p>
          </div>
          <div style="text-align: center;">
            <button class="add-carrinho" *ngIf="admin == 0; else elseBlock" (click)="adicionarAoCarrinho(produto.id, produto.estoque)">Adicionar ao carrinho</button>
            <ng-template class="add-carrinho" #elseBlock aria-disabled="true"><button>Adicionar ao carrinho</button></ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
