* {
    margin: 0;
    padding: 0;
}

.header-container{
    display: flex;
    justify-content: space-around;
    color: #0091bd;
    border-bottom: solid 1px #000000;
    box-shadow: 0px 2px 4px rgb(18, 41, 44);
}

.header-child-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-child-1 img{
    width: 130px;
    height: 100px;
}

.header-child-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-child-2 p{
    margin: 0 15px 0 15px;
}

.header-child-2 p:hover{
    cursor: pointer;

    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.699);
    color: rgba(73, 70, 70, 0.658);
}

button {
    background: none;
    margin: 10px 5px 0 10px;
    height: 30px;
    width: 150px;
    color: #0091bd;
    border: 1px solid rgba(9, 59, 133, 0.548);
    border-radius: 6px;
}

button:hover{
    background: rgba(128, 128, 128, 0.068);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.699);
    cursor: pointer;
}

.main-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.img-produto{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.add-carrinho {
    background: none;
    margin: 0;
    height: 40px;
    width: 150px;
    color: #0091bd;
    border: 1px solid rgba(9, 59, 133, 0.548);
    border-radius: 6px;
}

.add-carrinho:hover{
    background: rgba(128, 128, 128, 0.068);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.699);
    cursor: pointer;
}


.titulo-produtos{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: #0091bd;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.644);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.informacoes-produto{
    text-align: start;
    margin: 5px 0 5px 0 ;
    border: 1px solid black;
    border-radius: 3px;
}

.informacoes-produto p{
    margin: 3px;
    padding: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
