<div class="header-container">
    <div class="header-child-1">
      <img src="https://logospng.org/download/weg/logo-weg-1536.png" alt="">
    </div>
    <div class="header-child-2">
      <p>SOBRE A WEG</p>
      <hr style="height: 40px;">
      <p>INVESTIDORES</p>
      <hr style="height: 40px;">
      <p>ÉTICA</p>
      <hr style="height: 40px;">
      <p>SUPORTE</p>
      <hr style="height: 40px;">
      <p>SOLUÇÕES</p>
      <hr style="height: 40px;">
      <p>CARRINHO</p>
      <hr *ngIf="admin == 1" style="height: 40px;">
      <p *ngIf="admin == 1" (click)="gerenciarProduto()">GERENCIAR PRODUTOS</p>
    </div>
  </div>
<main>
  <div>
    <button (click)="voltar()">Voltar</button>
  </div>
</main>
