
<div class="header-container">
    <div class="header-child-1">
        <img src="../../../../pictures/Leozera-removebg-preview.png" alt="">
    </div>
    <div class="header-child-2">
        <p>SOBRE A LEOZERA ENGINES</p>
        <hr style="height: 40px;">
        <p>INVESTIDORES</p>
        <hr style="height: 40px;">
        <p>ÉTICA</p>
        <hr style="height: 40px;">
        <p>SUPORTE</p>
        <hr style="height: 40px;">
        <p>SOLUÇÕES</p>
        <hr style="height: 40px;">
        <p>CARRINHO</p>
    </div>
</div>
<div>
<button (click)="voltar()" id="voltar">Voltar</button>


</div>

<div class="modals-container">
  <div class="login-container">
    <div class="div-login">
      <h2>Adicionar um novo produto</h2>
        <div class="input-keys">
          <p>Nome do produto:</p>
        </div>
        <input class="input-login" type="text" placeholder="Nome" [(ngModel)]="productName">
        <br>
        <div class="input-keys">
          <p>Preço do produto:</p>
        </div>
        <input class="input-login" type="text" placeholder="Valor" [(ngModel)]="productPrice">
        <br>
        <div class="input-keys">
          <p>ID do produto:</p>
        </div>
        <input class="input-login" type="number" placeholder="Valor" [(ngModel)]="productId">
        <br>
        <div class="input-keys">
          <p>Fornecedor:</p>
        </div>
        <input class="input-login" type="text" placeholder="Nome do Fornecedor" [(ngModel)]="nomeForn">
        <br>
        <div class="input-keys">
          <p>ID do fornecedor:</p>
        </div>
        <input class="input-login" type="text" placeholder="ID do Fornecedor" [(ngModel)]="idForn">
        <br>
        <div class="input-keys">
          <p>ID do estoque:</p>
        </div>
        <input class="input-login" type="text" placeholder="ID do estoque" [(ngModel)]="idEsto">
        <br>
        <div class="input-keys">
          <p>Quantidade de estoque disponível:</p>
        </div>
        <input class="input-login" type="text" placeholder="Qtnd Estoque" [(ngModel)]="qntdEstoque">
        <br>
        <div class="input-keys">
          <p>Corredor aonde se encontra o produto:</p>
        </div>
        <input class="input-login" type="text" placeholder="Corredor" [(ngModel)]="corredor">
        <br>
        <div class="input-keys">
          <p>Lado do corredor(A-B):</p>
        </div>
        <input class="input-login" type="text" placeholder="Lado do corredor" [(ngModel)]="lado">
        <br>
        <div class="input-keys">
          <p>Prateleira:</p>
        </div>
        <input class="input-login" type="text" placeholder="Prateleira" [(ngModel)]="prateleira">
        <br>
        <div class="login-buttons">
          <button class="button-login" (click)="adicionarProduto()">Adicionar produto</button>
        </div>
        <div>
          <button class="button-login" (click)="limparInputs()">Limpar dados inseridos</button>
      </div>
    </div>


  <div class="div-login">
    <h2>Remover um produto</h2>
    <div class="input-keys">
      <p>Nome do produto:</p>
    </div>
    <input class="input-login" type="text" placeholder="Nome" [(ngModel)]="productName">
    <br>
    <div class="login-buttons">
      <button class="button-login" (click)="removerProduto()">Remover produto</button>
    </div>
  </div>
</div>
