<header>
  <div class="header-container">
      <div class="header-child-1">
          <img src="../../../../pictures/Leozera-removebg-preview.png" alt="">
      </div>
      <div class="header-child-2">
          <p>SOBRE A LEOZERA ENGINES</p>
          <hr style="height: 40px;">
          <p>INVESTIDORES</p>
          <hr style="height: 40px;">
          <p>ÉTICA</p>
          <hr style="height: 40px;">
          <p>SUPORTE</p>
          <hr style="height: 40px;">
          <p>SOLUÇÕES</p>
      </div>
  </div>
</header>

<main>
  <div>
    <button (click)="voltar()" id="voltar">Voltar</button>
  </div>
  <div class="modals-container">
    <div class="login-container">
      <div class="div-login">
        <h2>Adicionar um novo produto</h2>
          <input class="img-input" type="file" (change)="pegarImg($event)" placeholder="file">
        <img [src]="imgURL" alt="" class="imgSelecionada">
        <div *ngIf="imgURL != null">
          <button (click)="limparIMG()">Limpar IMG</button>
      </div>
          <div class="input-keys">
            <p>Nome do produto:</p>
          </div>
          <input class="input-login" type="text" placeholder="Nome" [(ngModel)]="productName">
          <br>
          <div class="input-keys">
            <p>Preço do produto:</p>
          </div>
          <input class="input-login" type="text" placeholder="Valor" [(ngModel)]="productPrice">
          <br>
          <div class="input-keys">
            <p>Quantidade de estoque disponível:</p>
          </div>
          <input class="input-login" type="text" placeholder="Qtnd Estoque" [(ngModel)]="qntdEstoque">
          <div class="login-buttons" *ngIf="emAlteracao == 0">
            <button class="button-login" (click)="adicionarProduto()">Adicionar produto</button>
          </div>
          <div class="login-buttons" *ngIf="emAlteracao == 1">
            <button class="button-login" (click)="alterProduct()">Alterar produto</button>
            <button class="button-login" (click)="cancelAlter()">Cancelar alteração</button>
          </div>
      </div>
    </div>


  </div>
  <hr style="margin-top: 30px;">
  <div style="text-align:center;">
    <h2 class="produto-cadastrado">PRODUTOS CADASTRADOS</h2>
  </div>
  <div class="main-container">
    <div *ngFor="let produto of newArrayProd, let i = index">
      <div style="margin-bottom: 50px;">
        <img [src]="produto.img" alt="Imagem do motor" class="img-produto">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <div class="informacoes-produto">
            <p class="att-produto"><b>Nome:</b> {{produto.nome}}</p>
            <p class="att-produto"><b>Valor:</b> R$ {{produto.valor}}</p>
            <p class="att-produto"><b>Estoque disponível: </b>{{produto.estoque}}</p>
          </div>
          <div style="text-align: center;">
            <button class="add-carrinho" (click)="removerProduto(produto.id)">Remover</button>
            <button class="add-carrinho" (click)="alterarProduto(produto.id)">Alterar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
