<div class="login-container">
  <div class="div-login">
    <h1>Register</h1>
    <div class="input-keys">
      <p>Username</p>
    </div>
    <input class="input-login" type="text" placeholder="Username" [(ngModel)]='username'>
    <br />
    <div class="input-keys">
      <p>Password</p>
    </div>
    <input class="input-login" type="password" placeholder="Password" [(ngModel)]='password'>
    <br />
    <div class="input-keys">
      <p>Confirm Password</p>
    </div>
    <input class="input-login" type="password" placeholder="Confirm Password" [(ngModel)]='passwordConfirm'>
    <br />
    <div class="login-buttons">
      <button class="button-login" (click)="logar()">Login</button>
      <button class="button-login" (click)="cadastrar()">Register Now</button>
    </div>
  </div>
</div>
