
<div class="header-container">
  <div class="header-child-1">
    <img src="../../../../pictures/Leozera-removebg-preview.png" alt="">
  </div>
  <div class="header-child-2">
    <p>SOBRE A LEOZERA ENGINES</p>
    <hr style="height: 40px;">
    <p>INVESTIDORES</p>
    <hr style="height: 40px;">
    <p>ÉTICA</p>
    <hr style="height: 40px;">
    <p>SUPORTE</p>
    <hr style="height: 40px;">
    <p>SOLUÇÕES</p>
    <hr *ngIf="admin == 1" style="height: 40px;">
    <p *ngIf="admin == 1" (click)="gerenciarProduto()">GERENCIAR PRODUTOS</p>
  </div>
</div>
<main>
  <div>
    <button class="voltar" (click)="voltar()">Voltar</button>
  </div>
  <div class="carrinho-container">
    <div class="carrinho-child1">
      <div class="titulo-produtos">
        <h2>SEU CARRINHO</h2>
      </div>
      <div class="main-container">
        <div *ngFor="let prodCar of newArrayProd, let i = index">
          <div style="margin:0 10px 50px 10px;">
            <img [src]="prodCar.img" alt="Imagem do motor" class="img-produto">
            <div style="display: flex; flex-direction: column; align-items: center;">
              <div class="informacoes-produto">
                <p class="nome-produto"><b>Nome:</b> {{prodCar.nome}}</p>
                <p class="valor-produto"><b>Valor unitário:</b> R$ {{prodCar.valorUni}}</p>
                <p class="valor-produto"><b>Quantidade:</b> {{prodCar.quantidade}}</p>
                <p class="valor-produto"><b>Valor:</b> R$ {{prodCar.valor}}</p>
              </div>
              <div style="text-align: center;">
                <button class="add-carrinho" (click)="retiraDoCarrinho(prodCar.idToRemove)">Remover do carrinho</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carrinho-child2">
      <div class="login-container">
        <div class="div-login">
          <h1>NOTA FISCAL</h1>
          <div class="input-keys">
            <p>Valor total R$</p>
          </div>
          <input class="input-login" type="text" disabled value={{valorCarrinho}} >
          <div class="input-keys">
            <p>Quantidade de produtos presentes na lista</p>
          </div>
          <input class="input-login" type="text" disabled value={{qntdProdutosNaLista}}>
          <h3>Endereço de entrega</h3>
          <div class="input-keys">
            <p>Cidade</p>
          </div>
          <input class="input-login" placeholder="Bairro" type="text" value={{cidade}}>
          <div class="input-keys">
            <p>Bairro</p>
          </div>
          <input class="input-login" placeholder="Bairro" type="text" value={{bairro}}>
          <div class="input-keys">
            <p>Rua</p>
          </div>
          <input class="input-login" placeholder="Rua" type="text" value={{rua}}>
          <div class="input-keys">
            <p>Número da casa</p>
          </div>
          <input class="input-login" placeholder="Número da casa" type="text" value={{numero}}>
          <div class="login-buttons">
            <button class="button-login" (click)="realizarVenda()">Confirmar a compra</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
